
body {
  /* font-family: 'Roboto', Arial, sans-serif; */
  font-family: "Roboto", Helvetica;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 {
  /* background-color: #000000; */
  color: #000000;
  padding: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
}

td {
  color: grey;
    font-family: "Roboto", Helvetica;
    font-size: large;
    font-style: normal;
    font-weight: 400;
  /* border: 1px solid #ddd;*/
  padding: 12px;
  text-align: left;
  word-wrap: break-word;
  /* max-width: 300px; */
}

th {
  background-color: #000000;
  color: white;
  font-weight: 700;
  font-size: large;
  font-family: "Roboto", Helvetica;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input, button {
  padding: 12px 20px;
  margin: 0 4px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 4px;
}

input {
  flex-grow: 1;
}

button {
  background-color: #4a4f6a;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #3f4560;
}