/* screen - chatbox-desktop-en-4 */

.chatbox-desktop-en-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1920px;
}

.chatbox-desktop-en-4 .overlap-group {
  height: 1000px;
  position: relative;
  width: 1920px;
}

.chatbox-desktop-en-4 .rectangle-93 {
  background-color: #4468e2;
  border-radius: 17px;
  height: 34px;
  left: 1746px;
  position: absolute;
  top: 19px;
  width: 104px;
}

.chatbox-desktop-en-4 .concept_07 {
  height: 1000px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.chatbox-desktop-en-4 .number-2 {
  left: 40px;
  position: absolute;
  top: 301px;
  width: 32px;
}

.chatbox-desktop-en-4 .rectangle-22571 {
  background-color: var(--shark);
  border-radius: 10px 0px 0px 10px;
  height: 37px;
  left: 30px;
  position: absolute;
  top: 247px;
  width: 50px;
}

.chatbox-desktop-en-4 .id {
  left: 40px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 32px;
}

.chatbox-desktop-en-4 .number-3 {
  left: 40px;
  position: absolute;
  top: 362px;
  width: 32px;
}

.chatbox-desktop-en-4 .number-4 {
  left: 40px;
  position: absolute;
  top: 423px;
  width: 32px;
}

.chatbox-desktop-en-4 .x2023-04-01t120000-z {
  left: 90px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 82px;
}

.chatbox-desktop-en-4 .path-78022 {
  height: 37px;
  left: 80px;
  top: 247px;
  width: 100px;
}

.chatbox-desktop-en-4 .timestamp {
  left: 90px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .x2023-04-01t120000-z-1 {
  top: 350px;
}

.chatbox-desktop-en-4 .x2023-04-01t120000-z-2 {
  top: 411px;
}

.chatbox-desktop-en-4 .teach-the-smart-model {
  left: 190px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 132px;
}

.chatbox-desktop-en-4 .path-78023 {
  height: 37px;
  left: 180px;
  top: 247px;
  width: 150px;
}

.chatbox-desktop-en-4 .goal {
  left: 190px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .teach-the-smart-model-1 {
  top: 350px;
}

.chatbox-desktop-en-4 .teach-the-smart-model-2 {
  top: 411px;
}

.chatbox-desktop-en-4 .understand-achievable-yet-challenging {
  left: 340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 182px;
}

.chatbox-desktop-en-4 .rectangle-22573 {
  background-color: var(--shark);
  height: 37px;
  left: 330px;
  position: absolute;
  top: 247px;
  width: 200px;
}

.chatbox-desktop-en-4 .task-goal {
  left: 340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 182px;
}

.chatbox-desktop-en-4 .understand-achievable-yet-challenging-1 {
  top: 350px;
}

.chatbox-desktop-en-4 .understand-achievable-yet-challenging-2 {
  top: 411px;
}

.chatbox-desktop-en-4 .name {
  left: 540px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 301px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .rectangle-22574 {
  background-color: var(--shark);
  height: 37px;
  left: 530px;
  position: absolute;
  top: 247px;
  width: 100px;
}

.chatbox-desktop-en-4 .place {
  left: 540px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .name-1 {
  left: 540px;
  top: 362px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .name-2 {
  left: 540px;
  top: 423px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .in-process {
  left: 640px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 301px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .path-78027 {
  height: 37px;
  left: 630px;
  top: 247px;
  width: 100px;
}

.chatbox-desktop-en-4 .status {
  left: 640px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .in-process-1 {
  top: 362px;
}

.chatbox-desktop-en-4 .in-process-2 {
  top: 423px;
}

.chatbox-desktop-en-4 .path-78028 {
  height: 61px;
  left: 730px;
  top: 284px;
  width: 150px;
}

.chatbox-desktop-en-4 .path-78024 {
  height: 37px;
  left: 730px;
  top: 247px;
  width: 150px;
}

.chatbox-desktop-en-4 .feedback {
  left: 740px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .path-78029 {
  height: 61px;
  left: 730px;
  top: 406px;
  width: 150px;
}

.chatbox-desktop-en-4 .cooperative {
  left: 890px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 301px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .path-78025 {
  height: 37px;
  left: 880px;
  top: 247px;
  width: 150px;
}

.chatbox-desktop-en-4 .cooperation {
  left: 890px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .non-cooperative {
  left: 890px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 362px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .non-cooperative-1 {
  left: 890px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 423px;
  white-space: nowrap;
  width: 132px;
}

.chatbox-desktop-en-4 .to-win-a-2000-meter {
  left: 1040px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 282px;
}

.chatbox-desktop-en-4 .path-78026 {
  height: 37px;
  left: 1030px;
  top: 247px;
  width: 300px;
}

.chatbox-desktop-en-4 .student-goal {
  left: 1040px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 282px;
}

.chatbox-desktop-en-4 .to-win-the-lottery {
  left: 1040px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 362px;
  white-space: nowrap;
  width: 282px;
}

.chatbox-desktop-en-4 .to-win-the-lottery-1 {
  left: 1040px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 423px;
  white-space: nowrap;
  width: 282px;
}

.chatbox-desktop-en-4 .move-to-relevant {
  left: 1340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 102px;
}

.chatbox-desktop-en-4 .rectangle-22578 {
  background-color: var(--shark);
  height: 37px;
  left: 1330px;
  position: absolute;
  top: 247px;
  width: 120px;
}

.chatbox-desktop-en-4 .next-action {
  left: 1340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 102px;
}

.chatbox-desktop-en-4 .move-to-relevant-1 {
  top: 350px;
}

.chatbox-desktop-en-4 .move-to-relevant-2 {
  top: 411px;
}

.chatbox-desktop-en-4 .yossi-now-understand {
  left: 1460px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 289px;
  width: 422px;
}

.chatbox-desktop-en-4 .rectangle-22581 {
  background-color: var(--shark);
  border-radius: 0px 10px 10px 0px;
  height: 37px;
  left: 1450px;
  position: absolute;
  top: 247px;
  width: 440px;
}

.chatbox-desktop-en-4 .conversation-summary {
  left: 1460px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 422px;
}

.chatbox-desktop-en-4 .name-3 {
  left: 1460px;
  top: 350px;
  width: 422px;
}

.chatbox-desktop-en-4 .name-4 {
  left: 1460px;
  top: 411px;
  width: 422px;
}

.chatbox-desktop-en-4 .line-58 {
  top: 344px;
}

.chatbox-desktop-en-4 .line-57 {
  top: 406px;
}

.chatbox-desktop-en-4 .line-59 {
  top: 466px;
}

.chatbox-desktop-en-4 .group-39839 {
  border-color: var(--orange-peel);
  gap: 3px;
  padding: 3px;
  top: 367px;
}

.chatbox-desktop-en-4 .rectangle-2258 {
  background-color: var(--orange-peel);
  border-radius: 3px;
  height: 9px;
  width: 9px;
}

.chatbox-desktop-en-4 .group-39840 {
  border-color: var(--atlantis);
  padding: 3px;
  top: 306px;
}

.chatbox-desktop-en-4 .rectangle-22587 {
  background-color: var(--atlantis);
  border-radius: 3px;
  height: 9px;
  width: 9px;
}

.chatbox-desktop-en-4 .rectangle-22589 {
  background-color: var(--atlantis);
  border-radius: 3px;
  height: 9px;
  margin-left: 3px;
  width: 9px;
}

.chatbox-desktop-en-4 .rectangle-22590 {
  background-color: var(--atlantis);
  border-radius: 3px;
  height: 9px;
  margin-left: 4px;
  width: 9px;
}

.chatbox-desktop-en-4 .group-39841 {
  border-color: #fe0000;
  padding: 4px 3px;
  top: 428px;
}

.chatbox-desktop-en-4 .rectangle-22587-1 {
  background-color: #fe0000;
  border-radius: 3px;
  height: 8px;
  width: 9px;
}

.chatbox-desktop-en-4 .rectangle-22486 {
  background-color: var(--white);
  border: 1px solid;
  border-color: #e6e6e6;
  border-radius: 30px;
  height: 37px;
  left: 30px;
  position: absolute;
  top: 190px;
  width: 300px;
}

.chatbox-desktop-en-4 .x00-general-01-icons {
  display: flex;
  height: 24px;
  left: 46px;
  position: absolute;
  top: 197px;
  width: 24px;
}

.chatbox-desktop-en-4 .color {
  margin-bottom: 4.0px;
  margin-left: 3.0px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 17px;
}

.chatbox-desktop-en-4 .pagination {
  align-items: center;
  display: flex;
  height: 37px;
  left: 31px;
  min-width: 312px;
  position: absolute;
  top: 498px;
}

.chatbox-desktop-en-4 .icons-chevron-left {
  background-image: url(../img/chevron-left@1x.png);
}

.chatbox-desktop-en-4 .pagination-page-number-2-states-2 {
  background-color: var(--dove-gray);
  border-radius: 10px;
  margin-left: 6px;
  padding: 8.0px 12px;
}

.chatbox-desktop-en-4 .number-5 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  min-height: 19px;
  min-width: 10px;
  text-align: center;
}

.chatbox-desktop-en-4 .pagination-page-number-2-states {
  align-items: flex-start;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 36px;
  padding: 8.0px 12px;
}

.chatbox-desktop-en-4 .number {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 19px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.chatbox-desktop-en-4 .pagination-page-number-2-states-3 {
  padding: 8.0px 11px;
}

.chatbox-desktop-en-4 .number-6 {
  min-height: 19px;
  min-width: 12px;
  text-align: center;
}

.chatbox-desktop-en-4 .pagination-page-number-2-states-1 {
  padding: 8.0px 8px;
}

.chatbox-desktop-en-4 .number-1 {
  min-height: 19px;
  min-width: 18px;
  text-align: center;
}

.chatbox-desktop-en-4 .icons-chevron-right {
  background-image: url(../img/chevron-right@1x.png);
  margin-left: 6px;
}

.chatbox-desktop-en-4 .search-by-id {
  left: 78px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 198px;
  white-space: nowrap;
}

.chatbox-desktop-en-4 .overview {
  color: var(--shark);
  font-family: var(--font-family-jura);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 31px;
  letter-spacing: 0.14px;
  line-height: 36px;
  position: absolute;
  top: 64px;
  white-space: nowrap;
}

.chatbox-desktop-en-4 .span0 {
  color: #000000;
  letter-spacing: 0.07px;
}

.chatbox-desktop-en-4 .span1 {
  font-size: var(--font-size-xl);
}

.chatbox-desktop-en-4 .group {
  align-items: flex-start;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  height: 17px;
  left: 740px;
  min-width: 42px;
  position: absolute;
}

.chatbox-desktop-en-4 .icons-chevron {
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 24px;
}

.chatbox-desktop-en-4 .in-process-3 {
  left: 640px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
  width: 82px;
}

.chatbox-desktop-en-4 .line {
  height: 1px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  width: 1860px;
}

.chatbox-desktop-en-4 .move-to-relevant-3 {
  left: 1340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  width: 102px;
}

.chatbox-desktop-en-4 .name-5 {
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
}

.chatbox-desktop-en-4 .number-7 {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.chatbox-desktop-en-4 .pagination-page-number-2-states-4 {
  align-items: flex-start;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  min-width: 36px;
}

.chatbox-desktop-en-4 .path {
  object-fit: cover;
  position: absolute;
}

.chatbox-desktop-en-4 .teach-the-smart-model-3 {
  left: 190px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  width: 132px;
}

.chatbox-desktop-en-4 .understand-achievable-yet-challenging-3 {
  left: 340px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  width: 182px;
}

.chatbox-desktop-en-4 .x2023-04-01t120000-z-3 {
  left: 90px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  width: 82px;
}
